@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round';
}

:root {
  --red: #ec2f3f;
}

*:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #dbddf1;
  margin: 0;
}

.logosoff img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 300px;
  width: 80%;
}

/* Contenedor principal (De los elementos dentro de la etiqueta main) */
.main__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  /* Franja negra */
}

.main__container__main__bg {
  width: 120%;
  background: var(--black);
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191C22;
  /* Contenedor del texto*/
}

.main__container__main__bg img {
  display: block;
  margin-left: 10px;
  width: 30%;
}

.main__container__main__bg__content__text {
  color: #fff;
  width: 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* SOFF LINARES */
  /* TATTOO */
  /* Texto */
  /* Mas info contenedor */
}

.main__container__main__bg__content__text__name {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.main__container__main__bg__content__text__tattoo {
  font-size: 50px;
  font-weight: 800;
  color: var(--red);
  text-transform: uppercase;
}

.main__container__main__bg__content__text__paragraph {
  width: 70%;
  display: inline-block;
  margin: auto;
  /* Estilos del parrafo */
}

.main__container__main__bg__content__text__paragraph p {
  text-align: left;
  font-size: 18px;
}

.main__container__main__bg__content__text__mas__info {
  color: #fff;
  width: 30%;
  margin: 0 auto;
  width: 27%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--red);
  -webkit-transition: all .3s;
  transition: all .3s;
  /* Mas info estilos texto */
  /* Mas info parrafo efecto */
}

.main__container__main__bg__content__text__mas__info p {
  margin: auto;
  font-size: 17px;
  font-weight: 500;
}

.main__container__main__bg__content__text__mas__info:hover {
  background: #fff;
  width: 30%;
  color: var(--red);
}

/* Contenedor general de iconos */
.social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* Contenedor de solo los iconos */
.social__media div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto__contenedor {
  min-height: 60vh;
}

#carouselExampleControls {
  width: 90%;
}

.contenedor__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

@media (max-width: 952px) {
  /* SOFF LINARES */
  .main__container__main__bg__content__text__name {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }
  /* TATTOO */
  .main__container__main__bg__content__text__tattoo {
    font-size: 40px;
    font-weight: 400;
    color: var(--red);
    text-transform: uppercase;
  }
  /* Texto */
  .main__container__main__bg__content__text__paragraph {
    width: 90%;
    display: inline-block;
    margin: auto;
  }
  /* Mas info contenedor */
  .main__container__main__bg__content__text__mas__info {
    color: white;
    margin: 15px auto;
    width: 50%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--red);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  /* Mas info estilos texto */
  .main__container__main__bg__content__text__mas__info p {
    margin: auto;
    font-size: 15px;
    font-weight: 300;
  }
  /* Mas info parrafo efecto */
  .main__container__main__bg__content__text__mas__info:hover {
    background: white;
    color: var(--red);
  }
  /* Contenedor de solo los iconos */
  .social__media div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Contenedor general de iconos */
  .social__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 30px 50px;
    margin-left: 3vh;
    margin-top: 30px;
  }
  /* Tamaño de los iconos */
  .social__media img {
    width: 50px;
    height: 50px;
  }
}

/* FAQ */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.in-flex:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  background-color: #F53141;
  margin: 0px;
  width: 100%;
  height: 18rem;
  margin-top: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.in-flex div {
  padding: 5px;
  background-color: #fff;
  margin: 0px;
  margin-top: 145px;
  width: 100%;
  height: 18rem;
}

@media (max-width: 877px) {
  /* SOFF LINARES */
  .main__container__main__bg__content__text__name {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  /* TATTOO */
  .main__container__main__bg__content__text__tattoo {
    font-size: 20px;
    font-weight: 400;
    color: var(--red);
    text-transform: uppercase;
    margin-top: -10px;
    margin-left: -25px;
  }
  /* Texto */
  .main__container__main__bg__content__text__paragraph {
    width: 200%;
    display: inline-block;
    margin: auto;
  }
  .main__container__main__bg__content__text__paragraph p {
    font-size: 12px;
    width: 100%;
    margin-left: 20px;
  }
  /* Mas info contenedor */
  .main__container__main__bg__content__text__mas__info {
    color: white;
    margin: 15px auto;
    width: 70%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--red);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  /* Mas info estilos texto */
  .main__container__main__bg__content__text__mas__info p {
    margin: auto;
    font-size: 15px;
    font-weight: 500;
  }
  /* Mas info parrafo efecto */
  .main__container__main__bg__content__text__mas__info:hover {
    background: white;
    color: var(--red);
  }
  /* Contenedor de solo los iconos */
  .social__media div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* Contenedor general de iconos */
  .social__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 30px 50px;
    margin-left: 2vh;
    margin-top: 10px;
  }
  /* Tamaño de los iconos */
  .social__media img {
    width: 50px;
    height: 50px;
  }
  .main__bg img {
    display: block;
    margin-left: 5px;
    width: 30%;
  }
}
/*# sourceMappingURL=styles.css.map */